.container {
    text-align: center;
    width: 100%;
    height: calc(100vh - var(--header-height));
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
}

.background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/HomeBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 1 1 auto;
    min-height: 0;
    width: 100%;
    padding: 2em 0;
}

.service-component {
    height: auto;
    flex: 0 0 auto;
    width: 100%;
    padding: .5em;
    background-color: var(--color-accent);
}


.CTA {
    font-family: 'Noto Sans', 'Inter';
    color: var(--color-accent);
    font-weight: 800;
    text-align: center;
    text-shadow: var(--text-shadow);
    padding: 0;
    margin: 0;
    font-size: 3rem;
    margin: 1rem 0;
}

.CTA > span {
    font-family: 'Noto Sans', 'Inter';
    color: #F5F5F3;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.social-link > button, a {
    border-radius: 50%;
    padding: 1.5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(172, 172, 172);
    background-color: #F5F5F3;
    box-shadow: 2px 2px 2px #1E2124;
    height: 4rem;
    width: 4rem;
}


.social-link > button:hover, a:hover {
    box-shadow: 5px 5px 4px #1E2124;
    background-color: var(--color-accent);
    border: none;
    cursor: pointer;
}

.social_icon {
    height: 1.5em;
    /* height: 120%; */
}

header {
    text-align: center;
    font-size: 1rem;
    margin: 0 2rem 2rem 2rem;
}

main {
    padding: 4rem 10%;
}

/* Laptops/Tablets etc. */
@media (min-width: 600px) {
    #phone {
        display: none;
    }

    .CTA {
        font-size: 4.5rem;
        margin: 1rem 0;
    }

    .social-links {
        gap: 10%;
        margin: 1rem 0;
    }

    .social-link > button, a {
        height: 5rem;
        width: 5rem;
    }

    .social_icon {
        height: 2em;
    }

    .service-component {
        padding: .5em;
    }
}

@media(min-width: 1100px) {
    #phone {
        display: none;
    }
}