.container {

}

section {
   padding: 1em;
   margin: 2em 4em;
}

section > h1 {
   margin-bottom: 1rem;
}

img {
   width: 100%;
}

.act-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 2em;
}

.quote-btn {
   padding: 1rem 2rem;
   background-color: var(--color-accent);
   border: none;
   border-radius: 5px;
   font-weight: 700;
}

.quote-btn:hover {
   box-shadow: 4px 4px 4px var(--color-secondary);
   text-decoration: underline;
}