.container {
   background-color: #f5f5f3;
}

section {
   padding: 1em;
   margin: 2em 4em;
}

section > h1 {
   margin-bottom: 1rem;
   color: var(--color-accent);
   border-bottom: 1px solid var(--color-header);
   text-shadow: var(--text-shadow);
}

img {
   width: 100%;
}

p {
   text-indent: 10px;
}

.act-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 4em 0;
}

.container-desktop {
   display: none;
}

@media (min-width: 600px) {
   img {
      height: 40%;
      width: 100%;
   }

   .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}

@media (min-width: 992px) {
   .container {
      display: none;
   }

   .container-desktop {
      display: block;
      box-sizing: border-box;
      background-color: #f5f5f3;
      /* background-color: var(--color-secondary); */
   }

   .row {
      display: flex;
      flex-direction: row;
      height: auto;
   }

   section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      padding: 0 0%;
      margin: 5%;
      font-size: 100%;
   }
}