section {
   padding: 1em;
   margin: 2em 4em;
}

section > h1 {
   margin-bottom: 1rem;
}

img {
   width: 100%;
}

.act-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 4em 0;
}

.quote-btn {
   display: inline-flex;
   align-items: center;
   padding: 1rem 2rem;
   background-color: var(--color-accent);
   border: none;
   border-radius: 8px;
   font-weight: 700;
   box-shadow: 4px 4px 4px var(--color-secondary);
   text-decoration: none;
   color: black;
}

.quote-btn:hover {
   text-decoration: underline;
   box-shadow: 6px 6px 6px var(--color-secondary);
}

.container-desktop {
   display: none;
}

@media (min-width: 600px) {
   img {
      height: 40%;
      width: 100%;
   }

   .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}

@media (min-width: 992px) {
   .container {
      display: none;
   }

   .container-desktop {
      display: block;
      box-sizing: border-box;

      /* background-color: var(--color-secondary); */
   }

   .row {
      display: flex;
      flex-direction: row;
      height: auto;
   }

   section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      padding: 0 0%;
      margin: 5%;
      font-size: 100%;
   }

   .act-btn {
      margin: 0;
      margin-top: 4rem;
      text-decoration: none;
      color: black;
   }
}