<div class="container">
  <img src="pic.jpg" alt="Construction Image" />
  <div class="messages">
  <section>
    <h1>WHY CHOOSE US?</h1>
    <p>Here at Rigid Contracting, we are more than just a business-- we're your partner in progress. 
      Whether you are looking to build your dream home, remodel your current space, or tackle a complex construction project, we are here to help you every step of the way.
      Our team of experienced professionals is dedicated to providing you with the highest quality service and craftsmanship, ensuring that your project is completed on time and within budget.
    </p>
  </section>
  <section>
    <h1>WHO ARE WE?</h1>
    <p>
      We are a joint family owned contruction business. 
      Servicing Menifee, Mongtomery, Bath, Rowan, Clark and surrounding counties.
      We pride ourselves on our commitment to excellence, and we are passionate about helping our clients achieve their goals.
      <span>Contact</span> us today to learn more about our services and how we can help you bring your vision to life.
    </p>
  </section>
  <div class="act-btn">
    <a class="quote-btn" href="mailto:austin.richards@rigidcontractingky.com">GET A FREE QUOTE</a>
  </div>
    </div>
    <img src="airViewBuilding.jpg" alt="Construction Image" />
</div>

<div class="container-desktop">
  <div class="row">
  <section>
    <h1>WHY CHOOSE US?</h1>
    <p>Here at Rigid Contracting, we are more than just a business-- we're your partner in progress. 
      Whether you are looking to build your dream home, remodel your current space, or tackle a complex construction project, we are here to help you every step of the way.
      Our team of experienced professionals is dedicated to providing you with the highest quality service and craftsmanship, ensuring that your project is completed on time and within budget.
    </p>
  </section>
  <img src="pic.jpg" alt="Construction Image" />
  </div>
  <div class="row">
    <img src="airViewBuilding.jpg" alt="Construction Image" />
  <section>
    <h1>WHO ARE WE?</h1>
    <p>
      We are a joint family owned contruction business. 
      Servicing Menifee, Mongtomery, Bath, Rowan, Clark and surrounding counties.
      We pride ourselves on our commitment to excellence, and we are passionate about helping our clients achieve their goals.
      <span>Contact</span> us today to learn more about our services and how we can help you bring your vision to life.
    </p>
  </section>
    </div>
    <div class="act-btn">
      <a href="mailto:austin.richards@rigidcontractingky.com" class="quote-btn">GET A FREE QUOTE</a>
    </div>
  </div>