<div class="container">
    <ul class="review-list">
        <li class="review">
            <header class="review-header">
                <p class="review-name">Tanna Combs Crouch</p>
                <img src="/FiveStars.png" alt="Five Stars" class="review-stars">
            </header>
            <p class="review">“We love everything you all have done and highly recommend this company.”</p>
        </li>
        <li class="review">
            <header class="review-header">
                <p class="review-name">Anne Hathoway</p>
                <img src="/FiveStars.png" alt="Five Stars" class="review-stars">
            </header>
            <p class="review">“Small Review here. This Company was AWESOME!”</p>
        </li>
        <li class="review">
            <header class="review-header">
                <p class="review-name">Jack Black</p>
                <img src="/FiveStars.png" alt="Five Stars" class="review-stars">
            </header>
            <p class="review">“Small Review here. This Company was AWESOME!”</p>
        </li>
        <li class="review">
            <header class="review-header">
                <p class="review-name">Johnny Depp</p>
                <img src="/FiveStars.png" alt="Five Stars" class="review-stars">
            </header>
            <p class="review">“Small Review here. This Company was AWESOME!”</p>
        </li>
    </ul>
</div>
