.container {
    padding: 2em 0;
    background-color: var(--color-accent);
}

.container > h1 {
    text-align: center;
}

.review-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    margin-top: 1em;
}

.review-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-stars {
    max-width: 70%;
}

.review-name {
    font-size: large;
    border-bottom: 1px solid var(--color-secondary);
    font-weight: 800;
}

.review {
    max-width: 12em;
    margin: 1em .5em;
    text-align: center;
}

.review {
    margin-top: .2em;
    text-align: center;
}

@media(min-width: 600px) {
    .review {
        margin: 1em 1em;
    }

    .review-list {
        justify-content: space-evenly;
    }
}