.stats-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding: 50px 20px;
    gap: 20px;
    /* background-color: var(--color-header); */
    background-color: #f5f5f3;
    /* background-color: #fff; */
    width: 100%;
    min-height: 30vh;
}

.stat {
    text-align: center;
    /* color: #f5f5f3; */
    color: var(--color-header);
    min-width: 150px;
    flex: 1 1 200px;
    container-type: inline-size;
}

.stat .num {
    display: block;
    white-space: wrap;
    font-size: clamp(2.8rem, 22cqw, 4rem);
    font-weight: 800;
    color: var(--color-accent);
    line-height: 1;
    margin-bottom: 8px;
    /* text-shadow: var(--text-shadow); */
}

.stat .label {
    display: block;
    white-space: wrap;
    font-size: clamp(0.95rem, 5cqw, 1rem);
    text-transform: uppercase;
    letter-spacing: 1px;
    /* color: #f5f5f3; */
    color: var(--color-header);
}