.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    font-size: .8rem;
    height: auto;
}

.service {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: .2rem;

    opacity: 0;
    transform: translateZ(0);
    backface-visibility: hidden;

    animation: enterAnimation 1s linear;
    animation-delay: calc(var(--i) * 0.5s);
    animation-fill-mode: forwards;
}

.service-check {
    font-size: .8em;
    height: 1.8em;
    background-color: var(--color-bg);
    border-radius: 50%;
    padding: .25em .5em;
    font-weight: 700;
    margin-right: .2rem;
}

.service-type {
    text-align: start;
}

@media (min-width: 600px) {
    .service-check {
        font-size: 1rem;
        font-weight: 700;
        margin-right: .2rem;
    }   

    .services-list {
        gap: 5%;
        font-size: 1rem;
    }

    .service {
        margin: .5rem;

        animation: enterAnimation 1s linear;
        animation-delay: calc(var(--i) * 0.5s);
        animation-fill-mode: forwards;
    }
}

@media(min-width: 1100px) {
    .services-list {
        height: 100%;
        width: 70%;
        margin: auto;
    }

    .service {
        margin: .2rem .2rem;
    }
}

@media(min-width: 1500px) {
    .services-list {
        height: 100%;
        width: 50%;
        margin: auto;
    }

    .service {
        margin: .2rem .2rem;
    }
}

@keyframes enterAnimation {
    from {
        transform: translate3d(200%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}