.site-footer {
    background-color: var(--color-header);
    min-height: var(--header-height);
    box-shadow: 4px 4px 4px rgb(17, 17, 17);
    color: #f5f5f3;
    text-shadow: 3px 3px 4px black;
    padding: 2rem;
}

.logo {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    width: 100%;
    padding-bottom: 2.5rem;
}

.logo > img {
    height: 4em;
    width: auto;
}

.content {
    display: flex;
    margin: 1em 0;
    gap: 3rem;
    text-align: center;
}

section {
    width: 70%;
    font-size: 18px;
    line-height: 28px;
}

.footer-links {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 1.5rem;
}

.rights-links {
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: 18px;
}

.rights {
   margin-top: auto;
   opacity: 50%;
}

a, a:visited {
    color: #f5f5f3;
    text-decoration-color: var(--color-accent);
    font-weight: 700;
}

a:hover {
    color: var(--color-accent);
}

.act-btn {
    padding: 1em;
    font-size: 18px;
    font-weight: 700;
    margin: 1em;
}

.footer-social-links {
    margin: auto 0 0 0;
}

.social_link {
    color: #f5f5f3;
    font-weight: 400;
    line-height: 1;
    height: 2em;
}