<footer class="site-footer">
    <div class="content">
        <section>
            <div class="logo">
                <img src="Logo.png" alt="Logo"/>
                <h2>Rigid Contracting</h2>
            </div>
            <p>Here at <a href="/" class="link">Rigid Contracting</a>, we are more than just a business-- 
                we're your partner in progress. Whether you are looking to build
                 your dream home, remodel your current space, or tackle a 
                 complex construction project, we are here to help you every 
                 step of the way. Our team of experienced professionals is 
                 dedicated to providing you with the highest quality service 
                 and craftsmanship, ensuring that your project is completed 
                 on time and within budget. 
            </p>
        </section>
        <hr />
        <div class="rights-links">
            <a class="act-btn" href="/ContactUs">
                <p class="btn">Get A Free Quote</p>
                <p class="arrow">&rarr;</p>
            </a>
            <nav class="footer-page-links">
                <a href="/Projects" class="link">
                    Projects
                </a>
                <a href="/Contact Us" class="link">
                    Contact Us
                </a>
            </nav>
            <nav class="footer-social-links">
                <a href="https://www.facebook.com/p/Rigid-Contracting-61576563761197/" class="link">
                    <img class="social_link" src="facebookIconWhite.png" alt="Facebook" />
                </a>
            </nav>
            <p class="rights">© {{ year }} Rigid Contracting. All rights reserved.</p>
        </div>
    </div>
</footer>
