.container {
  padding: .5em;
}

.project {
  margin: 4rem 1rem;
  background-color: #eaeaea;
  /* background-color: var(--color-secondary); */
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.72);
}

.project > h2 {
    text-align: end;
    margin-top: .5rem;
}

.project-list {
    gap: 10%;
}

header {
    padding: 1rem;
    border-bottom: 1px solid var(--color-secondary);
}

header > h1 {
    margin-bottom: 1rem;
}

header > p {
    text-indent: 5px;
}
