<div class="container">
  <header>
    <h1>SOME OF OUR RECENT PROJECTS</h1>
    <p><i>Click and drag the divider to compare the before and after images.</i></p>
  </header>

  <ul class="project-list">
    <li class="project">
      <app-bfr-aft-photos [beforePhoto]="'/interior1.jpg'" [afterPhoto]="'/interior2.jpg'"></app-bfr-aft-photos>
      <h2>Interior Renovation</h2>
    </li>
    <li class="project">
      <app-bfr-aft-photos [beforePhoto]="'/driveway1.jpg'" [afterPhoto]="'/driveway2.jpg'"></app-bfr-aft-photos>
      <h2>Driveway Installation</h2>
    </li>
    <li class="project">
      <app-bfr-aft-photos [beforePhoto]="'/electric1.jpg'" [afterPhoto]="'/electric2.jpg'"></app-bfr-aft-photos>
      <h2>External Repair After Equipment Replacement</h2>
    </li>
    <li class="project">
      <app-bfr-aft-photos [beforePhoto]="'/barn1.jpg'" [afterPhoto]="'/barn2.jpg'"></app-bfr-aft-photos>
      <h2>Garage Construction</h2>
    </li>
  </ul>
</div>
