.container {
    background-color: #fff;
    padding: 3em;
}

section {
    padding: 2em;
    background-color: var(--color-accent);

    border: 9px solid #fff;
    border-radius: 15px;

    outline: 3px solid var(--color-accent);
}

.icon-wrap {
    height: 1.5rem;
    width: 1.5rem;
}

.icon-wrap svg {
    height: 100%;
    width: 100%;
}